-i https://mirror.f123.pub/repository/pypi/simple

lfun-mini-framework==0.0.93.1

id-validator==1.0.20
setuptools~=68.2.0
requests~=2.32.3
kazoo~=2.10.0
XlsxWriter==3.2.0
cryptography==41.0.7
casbin==1.36.3

